@charset "utf-8";

/* ========== すべて共通 ========== */
html, body {
	font-size: 14px;
	font-family: 'M PLUS 1p', sans-serif;
	color: #000;
	text-align: left;
}
html {
	background: url(../images/h8.png) no-repeat center center;
	background-size: cover;
	margin: 0 auto;	/* 空白 */
}
div, p, h1, h2, h3, h4, ul, figure {
	margin: 0 auto 0 auto;	/* 空白 */
	padding: 0px;
}
body {
	margin: 0 auto 0 auto;	/* 空白 */
	padding: 10px;
}
p, td, th, li {
	line-height: 1.8;
}
strong {
	color: #1f1fcc;
	font-size: 1.1rem;	
}
img {
	width: 100%;
	height: auto;
}
a {
	color: 1f1fcc;
	text-decoration: none;
}
a:hover {
	color: 1f1fff;
}
a:active {
	color: 1f1f99;
}
/* 共通の見出し */
h1 {
	margin-bottom: 0rem;
	border-bottom: 0px dashed cc1f1f;
	font-weight: normal;
	font-size: 2rem;
	text-align: center;
	color: #fff;
}

/* ========== ヘッダー ========== */
header {
	background-color: rgba( 0, 0, 0, 0.50 );
}
.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo {
	margin: 0 auto;
	padding: 20px 10px 10px 10px;
	width: 600px;
	height: auto;
}

/* ========== index.html トップページ ========== */
/* 見出し */
.summer-h2 {
	margin: 0px auto 5px 0px;	/* 空白 */
	border: 0px solid #1f1fff;	/* 縁取り */
	padding: 5px;			/* 文字周り余白 */
	/*max-width: 500px;*/
	border-radius: 6px;		/* 角丸める */
	background: url(../images/h0.jpg) no-repeat center center;
	color: #fff;
	font-size: 1.5rem;
}
.summer-h3 {
	margin: 10px 10px 10px 10px;	/* 空白 */
	border: 0px solid #1f1fff;	/* 縁取り */
	padding: 5px;			/* 文字周り余白 */
	max-width: 300px;
	border-radius: 6px;		/* 角丸める */
	background: url(../images/h2.jpg) no-repeat center center;
	color: #fff;
	font-size: 1.2rem;
}
.summer-h4 {
	margin: 5px 5px 5px 5px;	/* 空白 */
	border: 2px solid #000000;	/* 縁取り */
	padding: 20px;			/* 文字周り余白 */
	/*max-width: 300px;*/
	border-radius: 6px;		/* 角丸める */
	/*background: url(../images/h1.jpg) no-repeat center center;*/
	color: #000;
	font-size: 1.5rem;
	text-align: center;
}

/* 枠内 */
.summer-div {
	margin: 20px auto 20px auto;	/* 空白 */
	/*padding: 20px 20px;*/
	border: 0px solid #1f1fff;
	border-radius: 6px;
	max-width: 560px;
	background-color: rgba( 255, 255, 255, 0.75 );
}
.summer-p {
	padding: 10px;
}
.summer-p img{
	max-width: 220px;
	height: auto;
}

/* ========== 上に戻るボタン ========== */
.pagetop {
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-radius: 3.3rem;
	text-align: center;
	cursor: pointer;
}
.pagetop-img {
	padding-top: 0.7rem;
	max-width: 50%;
	height: auto;
}
.pagetop:hover {
	color: #fff !important;
	background-color: #1f1fff;
	text-decoration: none;
}

/* ========== カウントボタン ========== */
#disp_count {
	background-color: #1f1fff;
	color: #FFF;
	font-size: 72px;
	border-radius: 10px;
	padding: 10px;
	width: 180px;
}

#btn_count_up {
	/*font-size: 24px;*/
	border-radius: 10px;
	/*padding: 20px 78px;*/
	/*margin-top: 10px;*/
}

#btn_reset {
	font-size: 24px;
	border-radius: 10px;
	padding: 11px;
	margin-top: 10px;
}

#openTwitter {
	font-size: 24px;
	border-radius: 10px;
	padding: 11px;
	margin-top: 10px;
}

#btn_count_up:hover {
	background-color: #b3b3b3;
}
#btn_reset:hover {
	background-color: #ff8f8f;
}
#openTwitter:hover {
	background-color: #8f8fff;
}